<footer class="footer">
  <small>
    a rails application by Rakhmad Azhari 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://rakhmad.web.id/">Blog</a></li>
    </ul>
  </nav>
</footer>